PORT=4000
DATABASE_URL=postgresql://postgres:TU_PASSWORD@localhost:5432/noticrack
JWT_SECRET=noticrack_secret_key_2024
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
